body { 
  background: url(../images/illinois_woods.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: Georgia, Serif;

}

.birds {
    z-index: 1000;
}

.bird_name {
    margin: 20px 20px 0px 20px;
    padding-bottom: 4px;
    text-align: center;
    border-bottom: 2px solid #272727;
}

.sci_bird_name { 
    text-align: center; 
}

.bird_card {
    margin: 20px 40px;
    background: white; 
    -webkit-box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    height: 304px;
    min-height: 304px;
    width: 275px; 
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    -webkit-transform: scale(.8); 
    transform: scale(.8);
    transition: all .5s;
}

.bird_card:focus {
    outline-width: 0;
}

.fit_height {
    height: 100vh;
}

.bird_details {
    position: fixed;
    bottom:0;
    background-color: #272727;
    height: 35vh;
    width: 100%; 
}

 .slick-center h5 { 
    color: #e67e22; 
}

 .slick-center {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);  
    transition: all .5s;
}

.bird_detail {
    padding: 20px;
    display: none;
}

.bird_detail h5 {
    color: white;
}

.detail_col { 
}
